<style>
    .tema {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 0.7cm;
    }

    h3 {
        margin-top: 40px;
        text-align:center;
    }

    span {
        font-weight:bold;
    }

    .tema > ul{
         margin-left: 20px; 
         margin-bottom:5px;
    }

    .tema > ul > li {
         margin-bottom:5px;
    }

    p {
        text-align: justify;
    }
</style>

<h2>@ViewBag.PageTitle.</h2>
<h3>@Resources.AboutResource.Subtitulo06</h3>
<div class="border Redondeado padding10 tema">
    <p>
        <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.AboutResource.Parrafo07
    </p>
</div>
<h3>@Resources.AboutResource.Message</h3>
<div class="border Redondeado padding10 tema">
    <p>
        @Resources.AboutResource.Parrafo01
    </p>
    <p>
        @Resources.AboutResource.Parrafo02
    </p>
</div>
<h3>@Resources.AboutResource.Pregunta01</h3>
<div class="border Redondeado padding10 tema">
    <p>
        @Resources.AboutResource.Parrafo03
    </p>
    <p>
        @Resources.AboutResource.Parrafo04
    </p>
</div>
<h3>
    @Resources.AboutResource.Pregunta02
</h3>
<div class="border Redondeado padding10 tema">
    <p>
        @Resources.AboutResource.Parrafo05
    </p>
    <h4>@Resources.AboutResource.Subtitulo01</h4>
    <ul>
        <li>@Resources.AboutResource.Lista01Elemento01</li>
        <li>@Resources.AboutResource.Lista01Elemento02</li>
    </ul>
    <h4>@Resources.AboutResource.Subtitulo02</h4>
    <ul>
        <li>@Resources.AboutResource.Lista02Elemento01</li>
        <li>@Resources.AboutResource.Lista02Elemento02</li>
    </ul>
    <h4>@Resources.AboutResource.Subtitulo03</h4>
    <ul>
        <li>@Resources.AboutResource.Lista03Elemento01</li>
        <li>@Resources.AboutResource.Lista03Elemento02</li>
    </ul>
    <h4>@Resources.AboutResource.Subtitulo04</h4>
    <ul>
        <li>@Resources.AboutResource.Lista04Elemento01</li>
        <li>@Resources.AboutResource.Lista04Elemento02</li>
    </ul>
    <h4>@Resources.AboutResource.Subtitulo05</h4>
    <ul>
        <li>@Resources.AboutResource.Lista05Elemento01</li>
        <li>@Resources.AboutResource.Lista05Elemento02</li>
    </ul>
</div>
<h3>@Resources.AboutResource.Pregunta03</h3>
<div class="border Redondeado padding10 tema">
    <p>@Resources.AboutResource.Parrafo06</p>
    <ul>
        <li>@Resources.AboutResource.Lista06Elemento01</li>
        <li>@Resources.AboutResource.Lista06Elemento02</li>
        <li>@Resources.AboutResource.Lista06Elemento03</li>
        <li>@Resources.AboutResource.Lista06Elemento04</li>
    </ul>
</div>


@*@section Scripts {
    <script type="text/javascript">
        function IsValid() {
           return true;
        }
    </script>
}*@


