
<div style="text-align:center;">
    <img src="~/Content/Images/Movil.png" class="textWrap" height="150" />
</div>
<h1 style="white-space: nowrap; margin-bottom: 40px;">@Resources.BSMMovilResource.HeaderPage</h1>
<p>
    @Resources.BSMMovilResource.Parrafo01
</p>
<p>
    @Resources.BSMMovilResource.Parrafo02
</p>
<p>
    @Resources.BSMMovilResource.Parrafo03
</p>
<p>
    @Resources.BSMMovilResource.Parrafo04
</p>
<ul style="list-style-type: disc;">
    <li>@Resources.BSMMovilResource.Lista01Elemento01</li>
    <li>@Resources.BSMMovilResource.Lista01Elemento02</li>
    <li>@Resources.BSMMovilResource.Lista01Elemento03</li>
    <li>@Resources.BSMMovilResource.Lista01Elemento04</li>
    <li>@Resources.BSMMovilResource.Lista01Elemento05</li>
</ul>
<p>@Resources.BSMMovilResource.Parrafo05</p>
<ul style="list-style-type: decimal-leading-zero;">
    <li>@Resources.BSMMovilResource.Lista02Elemento01</li>
    <li>
        @Resources.BSMMovilResource.Lista02Elemento02
        <ul style="list-style-type: lower-alpha;">
            <li>@Resources.BSMMovilResource.Lista02Elemento02Subelemento01</li>
            <li>@Resources.BSMMovilResource.Lista02Elemento02Subelemento02</li>
            <li>@Resources.BSMMovilResource.Lista02Elemento02Subelemento03</li>
        </ul>
    </li>
    <li>
        @Resources.BSMMovilResource.Lista02Elemento03
        <ul style="list-style-type: lower-alpha;">
            <li>@Resources.BSMMovilResource.Lista02Elemento03Subelemento01</li>
            <li>@Resources.BSMMovilResource.Lista02Elemento03Subelemento02</li>
        </ul>
    </li>
    <li>@Resources.BSMMovilResource.Lista02Elemento04</li>
</ul>
<p>@Resources.BSMMovilResource.Parrafo06</p>
