<style>
    p {
        text-align: justify;
    }

    ol {
        margin-left: 40px;
    }

    ol > li {
        margin-bottom: 5px;
    }

    span {
        font-weight:bold;
    }
</style>

<h1 style="margin-bottom: 40px;">
    @Resources.ConfidencialidadResource.PageTitle
</h1>
<p>
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo01Parte1 
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo01Parte2 
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo01Parte3 
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo01Parte4
</p>
<h4 style="margin-top: 20px; text-decoration:underline;">
    @Resources.ConfidencialidadResource.Subtitulo01
</h4>
<p>
    @Resources.ConfidencialidadResource.Parrafo02Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Parrafo02Parte2
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo03Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Parrafo03Parte2
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo04
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo05Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo05Parte2
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo06
</p>
<h4 style="margin-top: 20px; text-decoration:underline;">
    @Resources.ConfidencialidadResource.Subtitulo02
</h4>
<p>
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo07
</p>
<h4 style="margin-top: 20px; text-decoration:underline;">
    @Resources.ConfidencialidadResource.Subtitulo03
</h4>
<p>
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo08
</p>
<ol>
    <li>
        @Resources.ConfidencialidadResource.Lista1Elemento1<span> @Resources.BCMWebPublic.labelAppTitle</span>
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista1Elemento2
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista1Elemento3
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista1Elemento4
    </li>
</ol>
<h4 style="margin-top: 20px; text-decoration:underline;">
    @Resources.ConfidencialidadResource.Subtitulo04
</h4>
<p>
    @Resources.ConfidencialidadResource.Parrafo09Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo09Parte2
</p>
<ol>
    <li>
        @Resources.ConfidencialidadResource.Lista2Elemento1Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Lista2Elemento1Parte2
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista2Elemento2
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista2Elemento3
    </li>
    <li>
        @Resources.ConfidencialidadResource.Lista2Elemento4
    </li>
    <li>@Resources.ConfidencialidadResource.Lista2Elemento5</li>
    <li>@Resources.ConfidencialidadResource.Lista2Elemento6Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Lista2Elemento6Parte2</li>
    <li>
        @Resources.ConfidencialidadResource.Lista2Elemento7
    </li>
</ol>
<h4 style="margin-top: 20px; text-decoration:underline;">
    @Resources.ConfidencialidadResource.Subtitulo05
</h4>
<p>
    <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo10Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span> @Resources.ConfidencialidadResource.Parrafo10Parte2
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo11Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
     @Resources.ConfidencialidadResource.Parrafo11Parte2 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo11Parte3 <span>@Resources.BCMWebPublic.labelAppTitle</span> 
    @Resources.ConfidencialidadResource.Parrafo11Parte4
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo12Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo12Parte2 <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Parrafo12Parte3
    <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Parrafo12Parte4
    <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo12Parte5
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo13Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo13Parte2 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo13Parte3 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo13Parte4
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo06
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo14Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo14Parte2 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo14Parte3 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo14Parte4
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo07 <span>@Resources.BCMWebPublic.labelAppTitle</span>
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo15Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo15Parte2 <span>@Resources.BCMWebPublic.labelAppTitle</span>.
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo08
<p>
    @Resources.ConfidencialidadResource.Parrafo16Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo16Parte2
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo09
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo17Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>@Resources.ConfidencialidadResource.Parrafo17Parte2
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo10
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo18Parte1 <span>@Resources.BCMWebPublic.labelAppTitle</span>. <span>@Resources.BCMWebPublic.labelAppTitle</span>
    @Resources.ConfidencialidadResource.Parrafo18Parte2
</p>
<p style="font-weight:bold;">
    @Resources.ConfidencialidadResource.Subtitulo11
</p>
<p>
    @Resources.ConfidencialidadResource.Parrafo19
</p>
