<div id="main" style="margin: auto; overflow: hidden;">
    <h1>@Resources.ContactResource.PageTitle</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>@Resources.ContactResource.SubHeader</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <strong>@Resources.ContactResource.labelEmailContacto</strong><br /><a href="mailto:contacto.MiDocuweb@aplired.com">@Resources.ContactResource.EmailContacto</a><br />
        </div>
    </div>
    <br />
    <div class="col-md-11">
        <h2>@Resources.ContactResource.SubHeaderDireccion</h2>
    </div>
    <div class="row" style="margin: auto 0;">
        <div class="col-md-5 border Redondeado" style="margin-bottom: 30px; margin-left: 20px;">
            <h3 style="text-decoration:underline;">@Resources.ContactResource.Direccion1Header</h3>
            <address>
                @Resources.ContactResource.Direccion1Linea1
                @Resources.ContactResource.Direccion1Linea2
                @Resources.ContactResource.Direccion1Linea3
            </address>
        </div>
        <div class="col-md-5 border Redondeado" style="margin-bottom: 30px; margin-left: 20px;">
            <h3 style="text-decoration:underline;">@Resources.ContactResource.Direccion2Header</h3>
            <address>
                @Resources.ContactResource.Direccion2Linea1
                @Resources.ContactResource.Direccion2Linea2<br />
                @Resources.ContactResource.Direccion2Linea3
            </address>
        </div>
    </div>
    <div class="row" style="margin: auto 0;">
        <div class="col-md-5 border Redondeado" style="margin-bottom: 30px; margin-left: 20px;">
            <h3 style="text-decoration:underline;">@Resources.ContactResource.Direccion3Header</h3>
            <address>
                @Resources.ContactResource.Direccion3Linea1
                @Resources.ContactResource.Direccion3Linea2
                @Resources.ContactResource.Direccion3Linea3
            </address>
        </div>
        <div class="col-md-5 border Redondeado" style="margin-bottom: 30px; margin-left: 20px;">
            <h3 style="text-decoration:underline;">@Resources.ContactResource.Direccion4Header</h3>
            <address>
                @Resources.ContactResource.Direccion4Linea1
                @Resources.ContactResource.Direccion4Linea2
                @Resources.ContactResource.Direccion4Linea3
            </address>
        </div>
    </div>
</div>
