<p>
    <h2>@Resources.FAQResource.PageHeader</h2>
</p>
<h3 style="padding-bottom:10px;">@Resources.FAQResource.Pregunta1</h3>
<div style="border:1px solid #000; border-radius:5px; padding: 5px 10px 5px 10px; margin-top:5px; margin-bottom:5px;">
    <ul style="padding-left:20px; padding-right:20px;">
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento1</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento2</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento3</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento4</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento5</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento6</li>
        <li style="margin-bottom:5px;">@Resources.FAQResource.Lista1Elemento7</li>
    </ul>
</div>
<h3 style="padding-bottom:10px;">@Resources.FAQResource.Pregunta2</h3>
<div style="border:1px solid #000; border-radius:5px; padding: 5px 10px 5px 10px; margin-top:5px; margin-bottom:5px;">
    <p>
        @Resources.FAQResource.Parrafo1
    </p>
    <p>
        <span style="font-weight:bold;">@Resources.FAQResource.Parrafo2Span1 </span>@Resources.FAQResource.Parrafo2
    </p>
    <p>
        <span style="font-weight:bold;">@Resources.FAQResource.Parrafo3Span1 </span>@Resources.FAQResource.Parrafo3
    </p>
    <p>
        <span style="font-weight:bold;">@Resources.FAQResource.Parrafo4Span1 </span>@Resources.FAQResource.Parrafo4 
    </p>
    <p>
        <span style="font-weight:bold;">@Resources.FAQResource.Parrafo5Span1 </span>@Resources.FAQResource.Parrafo5
    </p>
    <p>
        <span style="font-weight:bold;">@Resources.FAQResource.Parrafo6Span1 </span>@Resources.FAQResource.Parrafo6
    </p>
</div>
<h3>@Resources.FAQResource.Pregunta3</h3>
<div style="border:1px solid #000; border-radius:5px; padding: 5px 10px 5px 10px; margin-top:5px; margin-bottom:5px;">
    <p>
        @Resources.FAQResource.Parrafo7
    </p>
</div>
