<style>
    p, ul > li {
        text-align: justify;
    }
</style>

<div style="text-align:center;">
    <img src="~/Content/Images/bcp.jpg" class="textWrap" height="200" />
</div>
<h1 style="white-space: nowrap;">@Resources.ProcedimientoBCPResource.PageHeader</h1>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBCPResource.Parrafo1
</p>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBCPResource.Parrafo2
</p>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBCPResource.Parrafo3
</p>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBCPResource.Parrafo4
</p>
<ul style="margin-top: 15px; margin-bottom:5px; margin-left: 50px; list-style-type: disc; list-style-position: inside;">
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista1Elemento1</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista1Elemento2</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista1Elemento3</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista1Elemento4</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista1Elemento5</li>
</ul>
<p style="margin-top: 15px;">@Resources.ProcedimientoBCPResource.Parrafo5</p>
<ul style="margin-top: 15px; margin-bottom:5px; margin-left: 50px; list-style-type: decimal-leading-zero; list-style-position: inside;">
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento1</li>
    <li style="margin-bottom: 5px;">
        @Resources.ProcedimientoBCPResource.Lista2Elemento2
        <ul style="margin-left:20px; margin-top: 15px; margin-bottom:5px; list-style-type: lower-alpha;">
            <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento2SublistaElemento1</li>
            <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento2SublistaElemento2</li>
            <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento2SublistaElemento3</li>
        </ul>
    </li>
    <li style="margin-bottom: 5px;">
        @Resources.ProcedimientoBCPResource.Lista2Elemento3
        <ul style="margin-left:20px; margin-top: 15px; margin-bottom:5px; list-style-type: lower-alpha;">
            <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento3SublistaElemento1</li>
            <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento2SublistaElemento2</li>
        </ul>
    </li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBCPResource.Lista2Elemento4</li>
</ul>
<p style="margin-top: 15px;">@Resources.ProcedimientoBCPResource.Parrafo6</p>
