<style>
    p, ul > li {
        text-align:justify;
    }

</style>

<div style="text-align:center;">
    <img src="~/Content/Images/bia.jpg" class="textWrap" />
</div>
<h1 style="white-space: nowrap;">@Resources.ProcedimientoBIAResource.PageHeader</h1>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBIAResource.Parrafo1
</p>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBIAResource.Parrafo2
</p>
<p style="margin-top: 15px;">
    @Resources.ProcedimientoBIAResource.Parrafo3
</p>
<ul style="margin-top: 15px; margin-bottom:5px; margin-left: 50px; list-style-type: disc; list-style-position: inside;">
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista1Elemento1</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista1Elemento2</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista1Elemento3</li>
</ul>
<p style="margin-top: 10px;">@Resources.ProcedimientoBIAResource.Parrafo4</p>
<p style="margin-top: 15px;">@Resources.ProcedimientoBIAResource.Parrafo5</p>
<p style="margin-top: 15px;">@Resources.ProcedimientoBIAResource.Parrafo6</p>
<p style="margin-top: 15px;">@Resources.ProcedimientoBIAResource.Parrafo7</p>
<p style="margin-top: 15px;">@Resources.ProcedimientoBIAResource.Parrafo8</p>
<ul style="margin-top: 15px; margin-bottom: 5px; margin-left: 50px; list-style-type: circle; list-style-position: inside;">
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento1</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento2</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento3</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento4</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento5</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento6</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento7</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento8</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento9</li>
    <li style="margin-bottom: 5px;">@Resources.ProcedimientoBIAResource.Lista2Elemento10</li>
</ul>
<p style="margin-top: 10px;">@Resources.ProcedimientoBIAResource.Parrafo9</p>

