@using BcmWeb_30.Models

@model DocumentosModel

<script type="text/javascript">
    function SelectionChanged(s, e) {
        s.GetSelectedFieldValues("ContactName", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        alert(values);
    }
    //function SendData(s, e) {
    //    lp.Show();
    //    document.forms["frmFicha"].submit();
    //}
</script>

@using (Html.BeginForm("Index", "Documento", FormMethod.Post, htmlAttributes: new { id = "docForm" }))
{
    @Html.Hidden("DocSelected")
    @Html.HiddenFor(m => m.IdClaseDocumento)
    @Html.HiddenFor(m => m.IdModulo)
    @Html.HiddenFor(m => m.FilterEstadoDocumento)
    @Html.HiddenFor(m => m.FilterResponsable)
    @Html.HiddenFor(m => m.FilterIdProceso)
    @Html.HiddenFor(m => m.FilterIdUnidadOrganizativa)
    @Html.HiddenFor(m => m.FilterNroDocumento)
    @Html.HiddenFor(m => m.FilterProcesoCritico)


    @section LeftPanel {
        @Html.DevExpress().Panel(settings =>
   {
       settings.Name = "LeftPane";
       settings.FixedPosition = PanelFixedPosition.WindowLeft;
       settings.Collapsible = true;
       settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
       settings.ControlStyle.CssClass = "leftPane";
       settings.Styles.Panel.CssClass = "panel";
       settings.SetContent(() =>
       {
           Html.RenderPartial("ContentLeftPartialView");
       });
   }).GetHtml()
    }

    if (Model.EditActive)
    {
        <div style="margin-top: -30px;">
            @Html.DevExpress().Button(b =>
            {
                b.Name = "botNew";
                b.Text = Resources.BCMWebPublic.captionButtonNew;
                b.ClientSideEvents.Click = "function(s, e) { lp.Show(); document.location='"
                    + DevExpressHelper.GetUrl(new { Controller = "Documento", Action = "EditarDocumento" })
                    + "?IdDocumento=0&IdClaseDocumento=" + Model.IdClaseDocumento.ToString() + "&IdModulo=" + Model.IdModulo.ToString()
                    + "' }";

            }).GetHtml()
        </div>
    }

    switch (Model.IdModulo.ToString().Substring(0, (Model.IdModulo.ToString().Length == 7 ? 1 : 2)))
    {
        case "4":
            @Html.Partial("DocumentoBIAPartialView", Model)
            break;
        case "7":
            @Html.Partial("DocumentoBCPPartialView", Model)
            break;
        default:
            @Html.Partial("DocumentoPartialView", Model)
            break;
    }

}
