@using BcmWeb_30
@using BcmWeb_30.Models

@model DocumentoDiagrama

<table class="Diagrama">
    <tr>
        <td colspan="3" style="text-align:center;">
            <h2>@string.Format("{0} Proceso: {1}-{2}", Model.PageTitle, Model.NroProceso, Model.Nombre)</h2>
        </td>
    </tr>
    <tr>
        @if (Model.IdProceso > 0)
        {
            switch (Model.IdModuloActual)
            {
                case 4090100: // Diagrama de Impacto BIA
                case 7010001: // Diagrama de Impacto BCP OLD
                case 7020000: // Diagrama de Impacto BCP
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="Contenedor Naranja">
                                        <div class="Titulo">
                                            @Html.Raw(Resources.DiagramaResource.headerInterdependencia)
                                        </div>
                                        @{
                                            string _HtmlInterdependencias = Model.Interdependencias;
                                            @(new HtmlString(_HtmlInterdependencias));
                                        }
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Contenedor Verde">
                                        <div class="Titulo">
                                            @Html.Raw(Resources.DiagramaResource.headerEntrada)
                                        </div>
                                        @{
                                            string _HtmlEntradas = Model.Entradas;
                                            @(new HtmlString(_HtmlEntradas));
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="Contenedor Amarillo">
                                        <div class="Titulo">
                                            @Html.Raw(Resources.DiagramaResource.headerProceso)
                                        </div>
                                        <div class="internal">
                                            <table>
                                                <tr>
                                                    <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNumero</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayFor(m => m.NroProceso)</td>
                                                </tr>
                                                <tr>
                                                    <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNombre</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayFor(m => m.Nombre)</td>
                                                </tr>
                                                <tr>
                                                    <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderDescripcion</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayFor(m => m.Descripcion)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="Contenedor Azul">
                                        <div class="Titulo">
                                            @Html.Raw(Resources.DiagramaResource.headerClienteProducto)
                                        </div>
                                        @{
                                            string _HtmlClientes_Productos = Model.Clientes_Productos;
                                            @(new HtmlString(_HtmlClientes_Productos));
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="Contenedor Rosado">
                                        <div class="Titulo">
                                            @Html.Raw(Resources.DiagramaResource.headerProveedores)
                                        </div>
                                        @{
                                            string _HtmlProveedores = Model.Proveedores;
                                            @(new HtmlString(_HtmlProveedores));
                                        }
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                     </td>
                    break;
                case 4090200: // Diagrama de Tecnología
                    <td class="leftPane">&nbsp;</td>
                    <td class="MiddlePane">
                        <div class="Contenedor Amarillo">
                            <div class="Titulo">
                                @Html.Raw(Resources.DiagramaResource.headerProceso)
                            </div>
                            <div class="internal">
                                <table>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNumero</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.NroProceso)</td>
                                    </tr>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNombre</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.Nombre)</td>
                                    </tr>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderDescripcion</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.Descripcion)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td class="RightPane">
                        <div class="Contenedor Azul">
                            <div class="Titulo">
                                @Html.Raw(Resources.DiagramaResource.headerTecnologia)
                            </div>
                            @{
                                string _HtmlTecnologia = Model.Tecnologia;
                                @(new HtmlString(_HtmlTecnologia));
                            }
                       </div>
                    </td>
                    break;
                case 4090300:// Diagrama de Personas Claves
                    <td class="leftPane">&nbsp;</td>
                    <td class="MiddlePane">
                        <div class="Contenedor Amarillo">
                            <div class="Titulo">
                                @Html.Raw(Resources.DiagramaResource.headerProceso)
                            </div>
                            <div class="internal">
                                <table>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNumero</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.NroProceso)</td>
                                    </tr>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderNombre</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.Nombre)</td>
                                    </tr>
                                    <tr>
                                        <td class="subHeader">@Resources.DiagramaResource.ProcesoHeaderDescripcion</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(m => m.Descripcion)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td class="RightPane">
                        <div class="Contenedor Azul">
                            <div class="Titulo">
                                @Html.Raw(Resources.DiagramaResource.headerPersonasClaves)
                            </div>
                            @{
                                string _HtmlPersonalClave = Model.PersonalClave;
                                @(new HtmlString(_HtmlPersonalClave));
                            }
                        </div>
                    </td>
                    break;
                }
            }
    </tr>
</table>
